body,
html {
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book-cards-container {
    width: 75%;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    gap: 20px;
}

.book-card {
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    justify-content: space-between;
}

.book-top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.remove-book-btn {
    border: 0px;
    background-color: white;
}

.trash-icon {
    width: 25px;
    height: 25px;
    object-fit: fill;
}

.add-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
}